@mixin clearfix {
  &::after {
    display: table;
    clear: both;

    content: "";
  }

  &::before {
    display: table;

    content: "";
  }
}
@mixin container {
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet} {
    width: 90%;
  }

  @media #{$desktop} {
    width: 1050px;
    max-width: 1050px;
  }
}
