.search-form {
    position: relative;
    width: 100%;

    > .form > .button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        outline: none;
    }
    > .form > .button > .icon {
        width: 24px;
        height: 24px;
    }
}

@media @tablet-S {
    .search-form {
        display: none;
    }
}