//fonts
@font-family-default: 'Arial', sans-serif;

@font-family-openSans: 'OpenSans', @font-family-default;
@font-family-brainFlower: 'BrainFlower', @font-family-default;
@font-family-superGrotesk:   'SuperGroteskLF', @font-family-default;
@font-family-proximaNova: 'ProximaNova', @font-family-default;
@font-family-proximaNovaCond: 'ProximaNovaCond', @font-family-default;

//media query widths
@mobile-S: ~"(min-width: 320px)";
@mobile-L: ~"(min-width: 425px)";
@tablet-S: ~"(min-width: 768px)";
@tablet-L: ~"(min-width: 960px)"  ;
@desktop-S: ~"(min-width: 1200px)";
@desktop-L: ~"(min-width: 1440px)";

// colors

@black: #000;
@white: #fff;
@cyan: #59b7b3;

@primary-color: @black;
@secondary-color: @white;
@tertiary-color: @cyan;

@color1-1: #1a1a1a;
@color1-2: #808080;

@color2-1: #e6e6e6;