@btn-primary-font-family: @font-family-superGrotesk;
@btn-secondary-font-family: @font-family-proximaNova;

@social-grey-light: @grey-light;
@social-grey-dark: @grey-dark;

.button {
  & {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid;

    font-family: @btn-primary-font-family;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    background-color: transparent;
    transition: all 0.15s linear;
    cursor: pointer;

  // --------------TEMP-----------------

    width: 200px;
    height: 44px;
  }

  //---------------FONT-SIZE-----------------

  &.-big {
    font-size: 17.64px;
    line-height: 18.5px;
  }
  &.-medium {
    font-size: 14px;
    line-height: 15.5px;
  }
  &.-small {
    font-size: 11.45px;
    line-height: 12.68px;
  }

  // --------------COLOR----------------

  &.-black {
    color: @primary-color;
    border-color: @primary-color;

    &:hover {
      background-color: @primary-color;
      color: @secondary-color;
    }
  }

  &.-white {
    color: @secondary-color;
    border-color: @secondary-color;

    &:hover {
      background-color: @secondary-color;
      color: @primary-color;
    }
  }

  &.-cyan {
    color: @tertiary-color;
    border-color: @tertiary-color;

    &:hover {
      background-color: @tertiary-color;
      color: @secondary-color;
    }
  }

  // --------------OTHER----------------

  &.-social {
    border: none;

    font-family: @btn-secondary-font-family;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;

    background-color: @social-grey-dark;
    color: @secondary-color;

    &:hover {
      background-color: @social-grey-light;
      color: @primary-color;
    }
  }
}